body {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height:0px;
}

main {
    padding:0px;
    flex: 1 0 auto;
    align-content:center;
    align-items:center;
}

nav {
    background-color: rgb(4, 148, 124);
    color: white;
    padding: 15px;
}

.miPerfil {
    width: 200px;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

    .miPerfil img {
        width: 100%;
    }

.miPerfil-2{
    width: 200px;
    margin: 10px;
    padding: 10px;
}

    .miPerfil-2 img {
        width: 50%;
    }
header > img {
    width: 200px;
}

header {
    text-align: right;
}

    header > nav {
        text-align: left;
    }



main > h2 {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    text-align: center;
}
.contenedorPerfil {
    list-style-type: none;
    margin-right: auto;
    width: fit-content;
    text-align: center;
}
ul {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    text-align: center;
}


    ul > li:hover {
        cursor: pointer;
        background-color: rgb(2, 158, 132);
    }

    ul > li {
        border-radius: 10px;
    }

.datos {
    margin-left: 45%;
    margin-right: 50%;
    width: fit-content;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(4, 148, 124);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

.datosTxt>p{
    font-size:12px;
}
nav > a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: .5%;
    margin-right: .5%;
    text-decoration: none;
    border: 10px solid rgb(4, 148, 124);
}

    nav > a:hover {
        background-color: #03bdbd;
        border: 10px solid #03bdbd;
        border-radius: 5px;
    }
input[type=submit] {
    background-color: #f7f7f7;
    border-radius: 5px;
}
input[type=submit]:hover{
    cursor:pointer;
    background-color: #03bdbd;
}
input[type=number] {
    border-color:black;
    border-radius: 5px;
}